---
interface Props {
	date: Date;
}

const { date } = Astro.props;
---

{
	!isNaN(date.getTime()) ? (
		<time datetime={date.toISOString()}>
			{
				date.toLocaleDateString('en-us', {
					year: 'numeric',
					month: 'short',
					day: 'numeric',
				})
			}
		</time>
	) : (
		<span>Invalid Date</span>
	)
}
